<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Security Tools</h2>
      <i class="devicon-linux-plain colored icon-align"></i>
      <i class="devicon-redhat-plain-wordmark colored icon-align" width="75" height="75"></i>
      <p>Utilizing Linux, Prometheus, and Red Hat.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-bash-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Bash, Python, and SQL build the foundation for tools/automation.</p>
    </div>
    <div class="tech">
      <h2>Infrastructure</h2>
      <i class="devicon-docker-plain-wordmark"></i>
      <i class="devicon-terraform-plain"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <p>Docker, Terraform, and AWS.</p>
    </div>
</div>
