<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="clouds" src="{{ "/assets/img/cloud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cloud Pirate </h3>
    <ul>
      <li> Python </li>
      <li> AWS </li>
      <li> Azure </li>
    </ul>
    <p>Captures API information from AWS and Azure. Sorts this information based on user input and outputs this information back to the user.</p>
    <a class="project-link" href="https://github.com/Nors1e/cloud_pirate">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="hydroponics setup" src="{{ "/assets/img/hydroponic_mountain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HydroHub </h3>
    <ul>
      <li> Nutrient Management </li>
      <li> Automated Watering </li>
      <li> Growth Tracking </li>
    </ul>
    <p>An advanced hydroponics system equipped with IoT capabilities. The HydroHub manages nutrient levels, automates watering based on plant requirements, and provides real-time growth tracking analytics.</p>
    <a class="project-link" href="https://github.com/Nors1e/HydroHub">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="IDDS" src="{{ "/assets/img/Drone.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Integrated Drone Defense System (IDDS) </h3>
    <ul>
      <li> Sensor Integration </li>
      <li> Data Fusion </li>
      <li> Threat Neutralization </li>
    </ul>
    <p>The IDDS is a cutting-edge solution designed to detect, track, and neutralize potential drone threats. It combines multi-modal sensors, advanced data analytics, and state-of-the-art countermeasures to ensure the security of critical installations.</p>
    <a class="project-link" href="https://docs.google.com/document/d/1wCm5OSVTBOxajRXZUKXWDNd-L38bMj6qrQLtFLd2N3U/edit?usp=sharing" target="_blank">Check it out</a>
  </div>
</div>
