#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user-details h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
}

.user-projects {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;

  @media only screen and (min-width: $cut) {
    flex-direction: row;
  }
}

.user-projects img {
  max-width: 45%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.contents, .contents-right {
  max-width: 50%;
  padding: 0 20px;
}

.contents h3, .contents-right h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #444;
}

.contents p, .contents-right p {
  margin-top: 15px;
  font-size: 1em;
  color: #666;
}

.project-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: $purple; /* This uses your color variable */
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: darken($purple, 10%); /* Darkens the purple color a bit on hover */
}

.contents {
  @media only screen and (min-width: $cut) {
    order: 1;
  }
}

.contents-right {
  @media only screen and (min-width: $cut) {
    order: 0;
  }
}

.images-right img {
  @media only screen and (min-width: $cut) {
    float: right;
  }
}

.images-left img {
  @media only screen and (min-width: $cut) {
    float: left;
  }
}
