<!DOCTYPE html>
<head>
    <link rel="icon" href="/assets/img/cloud.png" type="image/x-icon">
    <script type="application/javascript">
        function getIP(json) {
            console.log("My public IP address is: ", json.ip);
        }
    </script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</head>
<script src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
